<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prasanthkumar.moviestar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/movie_star"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/movie_star"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".UIScreens.Register"
            android:label="Sign Up"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".UIScreens.Login"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIScreens.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".UIScreens.Login"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".UIScreens.DetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".UIScreens.TrailersActivity"
            tools:ignore="InnerclassSeparator"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".UIScreens.YoutubePlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator" />

        <receiver android:name=".HomeWidget.MovieStarWidget"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_star_widget_info" />
        </receiver>

        <activity
            android:name=".UIScreens.DeveloperActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="Developer Profile"
            android:launchMode="singleTop"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".UIScreens.CastsActivity"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".UIScreens.PostersActivity"
            tools:ignore="InnerclassSeparator"
            />
        <provider
            android:name=".Data.MovieStarContentProvider"
            android:authorities="com.example.prasanthkumar.moviestar"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider,InnerclassSeparator" />

        <activity android:name=".UIScreens.FavoritesActivity"
            tools:ignore="InnerclassSeparator"
            android:parentActivityName=".UIScreens.MainActivity"
            />
    </application>
</manifest>